{% load static %}
<nav class="menuAutomacao" id="menuAutomacao">
    <form id="formAutomacao">
        <fieldset>
            <label for="linkDaLoja">Link da Loja</label>
            <input type="url" name="LinkDaLoja" id="LinkDaLoja">
        </fieldset>
        <fieldset>
            <label for="cepEntrega">CEP de Entrega</label>
            <input type="text" name="cepEntrega" id="cepEntrega">
        </fieldset>
        <!--<fieldset>
            <label for="emailResposta">Email para resposta</label>
            <input type="email" name="emailResposta" id="emailResposta">
        </fieldset>-->
        <input onclick="rodarN8n(event)" type="submit" value="Iniciar Automação">
    </form>
</nav>