/*HEADER*/
header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--corPrimaria);
    padding: 10px;
    padding-bottom: 20px;
}
header .itemMenuDesktop{
    font: normal 500 0.9em var(--fontPrimaria);
    color: black;
}

.logoHeader{
    width: 160px;
}
.menuDesktop{
    display: flex;
    align-items: center;
}
.menuDesktop ul{
    display: flex;
    align-items: center;
    gap: 15px;
}
.btnMenuAutomacao{
    position: relative;
    width: 80px;
    height: 80px;
    border: 1px solid #a1a1a1;
    background-color: #ccc;
    border-radius: 50%;
    overflow: hidden;
}
.btnMenuAutomacao>img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
    cursor: pointer;
}