{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Minha Página</title>

         <!--Fonts-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

        <!--Estilos-->
        <link rel="stylesheet" href="{% static 'css/global.css' %}">
        <link rel="stylesheet" href="{% static 'css/header.css' %}">
        <link rel="stylesheet" href="{% static 'css/menuAutomacao.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    {% include 'componentes/header.html' %}

    <section class="formDadosLoja">
        <form method="POST" action="{% url 'raspar_loja' %}" class="dadosVendedor">
            {% csrf_token %}
            <fieldset>
                <label for="urlLoja">link da loja</label>
                <input type="text" name="urlLoja" id="urlLoja" placeholder="Link da loja" required>
            </fieldset>
            <fieldset>
                <label for="cepEntrega">Cep</label>
                <input type="text" name="cepEntrega" id="cepEntrega" placeholder="Cep de entrega" required>
            </fieldset>
            <fieldset>
                <label for="plataforma">Plataforma</label>
                <select name="plataforma" id="plataforma" class="plataformaControl" required>
                    <option value="">Selecione a plataforma</option>
                    <option value="magalu">Magazine Luiza</option>
                    <option value="amazon">Amazon</option>
                    <option value="shoppe">Shoppe</option>
                    <option value="aliexpress">AliExpress</option>
                </select>
            </fieldset>
            <input type="submit" value="Buscar">
        </form>
    </section>

    <section class="lojasSalvas">
        <h2 class="titleLojasSalvas">Lojas salvas</h2>
        <div class="contaiLojasSalvas">
                {% for loja in lojas %}
                <form method="POST" action="{% url 'raspar_loja' %}" class="containCardLoja" style="display: inline;">
                    {% csrf_token %}
                    <input type="hidden" name="nomeLoja" value="{{ loja.nome }}">
                    <input type="hidden" name="urlLoja" value="{{ loja.url }}">
                    <button type="submit" class="cardLoja">
                    <h2 class="titleLoja">Nome: {{ loja.nome }}</h2>
                    <p class="urlLoja">Url: {{ loja.url }}</p>
                    <p>Id: {{loja.keyLoja}}</p>
                    <!--keyLoja-->
                    </button>
                </form>
                {% endfor %}
            </div>
    </section>
    <script>
         const LinkDaLoja = document.getElementById("LinkDaLoja");
        const cepEntrega = document.getElementById("cepEntrega");
        function rodarN8n(event) {
    event.preventDefault(); // evita comportamento padrão

    fetch("/proxy-webhook/", {
    method: "POST",
    headers: {
      "Content-Type": "application/x-www-form-urlencoded"
    },
    body: new URLSearchParams({
      linkLoja: LinkDaLoja.value,
      cepEntrega: cepEntrega.value
    })
  })
  .then(res => res.json())
  .then(data => {
    console.log("Resposta do workflow:", data);
    alert("Automação iniciada com sucesso!");
  })
  .catch(err => {
    console.error("Erro:", err);
    alert("Falha ao iniciar automação.");
  });
  }
        document.addEventListener('DOMContentLoaded', function() {
            const btnAutomacao = document.getElementById('btnMenuAutomacao');
            const menu = document.getElementById('menuAutomacao');
            btnAutomacao.addEventListener('click', function(){
                menu.classList.toggle('active');
                console.log("Menu automação toggled");
            })  
            
        });
    </script>
</body>
</html>
